<footer class="text-dark bg-light fixed-bottom">
    <hr class="bg-whit mx4 mt-2 mb-1">
    <!-- Copyright-->
    <div class="container-fluid">
        <p class="text-center m-0 py-1">
            © 2020 Copyright - ADDC - Stefanni - Todos os direitos reservados
            Stefanini IT Solutions - CNPJ/MF 58.069.360/0013-63 - Rua Moacir Wanderlay,185, Aracaju/SE - CEP 49025-100
            <a href="https://getbootstrap.com/" class="text-white"></a>
        </p>
    </div>
    <!-- Copyright-->
</footer>