<nav class="navbar navbar-expand-lg" style="background-color: #4682B4;">

  <img id="btnSideBar" src="../../assets/picture/hamburger.png" height="24" width="24">

  <a class=" btn navbar-brand navbar-toggle" href="#" id="icon-nav">
    <img src="../../icon/LogoStefanini.ico" alt="">
  </a>

  <div class="navbar-right" id="navbar-image-user">
    <td>
      <h6 style="color: #ffff; font-weight: bold;">Usuário</h6>
    </td>
    <td><img src="../../assets/picture/user.png" alt="" width="60" height="40"></td>
  </div>
</nav>