<nav class="navbar navbar-inverse sidebar" id="background-navbar-left" style="background-color:#4682B4;"
	role="navigation">
	<div class="container-fluid">
		<div class="row content">
			<div id="sidebar-lateral"></div>
			<ul class="nav nav-pills nav-stacked">
				<div class="col-sm-3" id="sidebar-home">
					<a class="btn" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>
						<h6>Home</h6>
					</a>
				</div>
				<div id="sidebar-candidato">
					<a class="btn" href="cadastrocandidato"><i class="fa fa-id-card-o" aria-hidden="true"></i>
						<h6>Candidato</h6>
					</a>
				</div>
				<div class="col-sm-3" id="sidebar-home">
					<div id="sidebar-curso">
						<a class="btn" href="#"><i class="fa fa-book"></i>
							<h6>Cursos</h6>
						</a>
					</div>
				</div>
				<div id="sidebar-instituicao">
					<a class="btn" href="Instituicao"><i class="fa fa-university" aria-hidden="true"></i>
						<h6>Instituição</h6>
					</a>
				</div>
				<div id="sidebar-relatorio">
					<a class="btn" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>
						<h6>Relatórios</h6>
					</a>
				</div>
			</ul>
		</div>
	</div>
</nav>