<div class="card mt-3">
    <div class="card-header">
        <div class="float-left">
            <h4>Instituições</h4>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Instituicao of Response.listaRegistros | paginate: config ">
                    <td>{{Instituicao.codigo}}</td>
                    <td>{{Instituicao.descricao}}</td>
                    <td>
                        <span class="float-right">
                            <button type="button" class="btn btn-outline-warning mb-1 btn-sm" (click)=goToPage(Instituicao.codigo)>
                                Editar
                            </button>
                            {{ ' ' }}
                            <button type="button" class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(Instituicao.codigo)">
                                Remover
                            </button>
                    </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-template (pageChange)="pageChange($event)">
            <div class="pagination-previous" [class.disabled]="Response.firstPage">
                <a *ngIf="Response.firstPage"> </a>
            </div>
        </pagination-template>
        <div class=paginacao>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>